.container {
  position: absolute;
  left: 2em;
  top: 1em;
  bottom: 1em;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  font-size: 5rem;
  text-transform: uppercase;
}

.item .icon {
  width: 2em;
  text-align: center;
}

.item .label {
  display: inline-block;
}
